* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v97_459 {
  width: 281px;
  height: 2181px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
