* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v57_716 {
  width: 53px;
  height: 55px;
  background: url("../images/v57_716.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
