* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v57_543 {
  width: 375px;
  height: 477px;
  background: url("../images/v57_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
