* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v41_678 {
  width: 77px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
